/*.price-box {*/
    /*margin: 0 auto;*/
    /*background: #E9E9E9;*/
    /*border-radius: 10px;*/
    /*padding: 40px 15px;*/
    /*width: 500px;*/
/*}*/

/*.ui-widget-content {*/
    /*border: 1px solid #bdc3c7;*/
    /*background: #e1e1e1;*/
    /*color: #222222;*/
    /*margin-top: 4px;*/
/*}*/

/*.ui-slider .ui-slider-handle {*/
    /*position: absolute !important;*/
    /*z-index: 2 !important;*/
    /*width: 3.2em !important;*/
    /*height: 2.2em !important;*/
    /*cursor: default !important;*/
    /*margin: 0 -20px auto !important;*/
    /*text-align: center !important;*/
    /*line-height: 30px !important;*/
    /*color: #FFFFFF !important;*/
    /*font-size: 15px !important;*/
/*}*/

/*.ui-corner-all {*/
    /*!*border-radius: 20px;*!*/
/*}*/

/*.ui-slider-horizontal .ui-slider-handle {*/
    /*top: -3em !important;*/
/*}*/

/*.ui-state-default,*/
/*.ui-widget-content .ui-state-default {*/
    /*background: #393a40 !important;*/
/*}*/

/*.ui-slider-horizontal .ui-slider-handle {*/
    /*margin-left: -0.5em !important;*/
/*}*/

/*.ui-slider .ui-slider-handle {*/
    /*cursor: pointer;*/
/*}*/

/*.ui-slider a,*/
/*.ui-slider a:focus {*/
    /*cursor: pointer;*/
    /*outline: none;*/
/*}*/

/*.price, .lead p {*/
    /*font-weight: 600;*/
    /*font-size: 32px;*/
    /*display: inline-block;*/
    /*line-height: 60px;*/
/*}*/

/*h4.great {*/
    /*background: #00ac98;*/
    /*margin: 0 0 55px -60px;*/
    /*padding: 7px 15px;*/
    /*color: #ffffff;*/
    /*font-size: 18px;*/
    /*font-weight: 600;*/
    /*border-radius: 5px;*/
    /*display: inline-block;*/
    /*-moz-box-shadow:    2px 4px 5px 0 #ccc;*/
    /*-webkit-box-shadow: 2px 4px 5px 0 #ccc;*/
    /*box-shadow:         2px 4px 5px 0 #ccc;*/
/*}*/

/*.price-slider {*/
    /*margin-bottom: 70px;*/
/*}*/

/*.form-pricing {*/
    /*background: #ffffff;*/
    /*padding: 20px;*/
    /*border-radius: 4px;*/
/*}*/

/*.price-form {*/
    /*background: #ffffff;*/
    /*margin-bottom: 10px;*/
    /*padding: 20px;*/
    /*border: 1px solid #eeeeee;*/
    /*border-radius: 4px;*/
/*}*/

/*.form-group {*/
    /*margin-bottom: 0;*/
/*}*/

/*.form-group span.price {*/
    /*font-weight: 200;*/
    /*display: inline-block;*/
    /*color: #7f8c8d;*/
    /*font-size: 14px;*/
/*}*/

/*.help-text {*/
    /*display: block;*/
    /*margin-top: 32px;*/
    /*margin-bottom: 10px;*/
    /*color: #737373;*/
    /*position: absolute;*/
    /*font-weight: 200;*/
    /*text-align: right;*/
    /*width: 188px;*/
/*}*/

/*.price-form label {*/
    /*font-weight: 200;*/
    /*font-size: 21px;*/
/*}*/

/*.ui-slider-range-min {*/
    /*background: #2980b9;*/
/*}*/

/*.ui-slider-label-inner {*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 10px solid transparent;*/
    /*border-top: 10px solid #393a40;*/
    /*display: block;*/
    /*left: 50%;*/
    /*margin-left: -10px;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*z-index: 99;*/
/*}*/

.ui-widget-content .ui-state-default {
    border: 1px solid #E20231 !important;
    background: #E20231 !important;

}
.ui-widget-content{
    border: 1px solid #E20231 !important;
}


.pricetab{
    margin-top: 10px;
}

.ui-slider-handle{
    ms-touch-action: none;
    touch-action: none;
}
.infor{
    padding: 17px;
}


.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('img/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.jssora05l.jssora05lds { background-position: -10px -40px; opacity: .3; pointer-events: none; }
.jssora05r.jssora05rds { background-position: -70px -40px; opacity: .3; pointer-events: none; }
/* jssor slider thumbnail navigator skin 01 css *//*.jssort01-99-66 .p            (normal).jssort01-99-66 .p:hover      (normal mouseover).jssort01-99-66 .p.pav        (active).jssort01-99-66 .p.pdn        (mousedown)*/.jssort01-99-66 .p {    position: absolute;    top: 0;    left: 0;    width: 99px;    height: 66px;}.jssort01-99-66 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort01-99-66 .w {    position: absolute;    top: 0px;    left: 0px;    width: 100%;    height: 100%;}.jssort01-99-66 .c {    position: absolute;    top: 0px;    left: 0px;    width: 95px;    height: 62px;    border: #000 2px solid;    box-sizing: content-box;    background: url('img/t01.png') -800px -800px no-repeat;    _background: none;}.jssort01-99-66 .pav .c {    top: 2px;    _top: 0px;    left: 2px;    _left: 0px;    width: 95px;    height: 62px;    border: #000 0px solid;    _border: #fff 2px solid;    background-position: 50% 50%;}.jssort01-99-66 .p:hover .c {    top: 0px;    left: 0px;    width: 97px;    height: 64px;    border: #fff 1px solid;    background-position: 50% 50%;}.jssort01-99-66 .p.pdn .c {    background-position: 50% 50%;    width: 95px;    height: 62px;    border: #000 2px solid;}* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {    /* ie quirks mode adjust */    width /**/: 99px;    height /**/: 66px;}