/*
 * Start Bootstrap - Business Frontpage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #eaecee;
}


.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}


.search{
    text-align: center;
    background-color: #E20231;
}

.col-centered{
    float: none;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
    margin-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 20px;

}
.btn-primary{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    font-weight: bold;
}

.btn-primary:hover{
    border-color: #BD0808;
    background-color: #BD0808;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
    margin-bottom: 10px;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }







.search_form{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
}


.search_nav{
    padding-right: 40px;
    padding-left: 40px;
}

.custom_nav{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #E20231;
}

.custom_top{
    margin-top: 60px;
}

.navbar-nav{
    float: right;
    margin-top: 30px;
    padding-bottom: 20px;
    color: #000;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000;
    font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #000;
    background-color: #F5F1F1;
}
.activeCutom{
    color: #E20231 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: #000;
    background-color: #F5F1F1;
}

.serach_submit{
    padding-top: 20px;
    float: right;
}

.red_line{
    border: 1px solid #E20231;
}


footer { background-color:#0c1a1e; min-height:250px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}




.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#E20231;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

.test{
    column-count: 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
}

.midel_box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.box_right{
    float: right;
}
.box_left{
    float: left;
}
.box_right, .box_left{
    width: 30%;
    background-color: #E20231;

}

.center_box{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}


.search_form{
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
}


.search_nav{
    padding-right: 40px;
    padding-left: 40px;
}

.custom_nav{
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #E20231;
}

.custom_top{
    margin-top: 60px;
}
.center_log>img{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 36%;
    text-align: center;
    float: none;
}
.center_log >a{
    text-align: center;
}

.navbar-nav{
    float: right;
    margin-top: 30px;
    padding-bottom: 20px;
    color: #000;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000;
    font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #000;
    background-color: #F5F1F1;
}

.serach_submit{
    padding-top: 20px;
}

.red_line{
    border: 1px solid #E20231;
}


.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}




.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#E20231;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}


.footer_style{
    color: #fff;
}

.midel_box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.box_right{
    float: right;
    text-align: center;
    padding: 10px,10px, 10px,10px;
    color: #fff;
}
.box_left{
    float: left;
    text-align: center;
    color: #fff;
}
.box_right, .box_left{
    width: 30%;
    background-color: #E20231;

}

.center_box{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.center_box>img {
    width: 100%;
    height: 100%;
}

.mobile_bg{
    background-color: #E20231 ;
    color: #fff;
}

.list-group-item {
    background-color: #E20231 ;
}
.list-group-item> a {
    color: #fff;
    text-decoration: none;
}
.footer_list{
    column-count: 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
}

.footer_list>li >a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 2em;
}
.propety_page{

}
.propety_page_bg{
    background-color: #fff;
}

.filtertop{
    margin-top: 20px;
}

.filter{
    padding-top: 45px;
}
.filetrtop_heading{
    background-color: #E20231;
    text-align: center;
    color: #fff;
}
.heding>a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
}

.propertyshow_box{
    margin-top: 77px;
    margin-bottom: 20px;
}


.bg_white{
    background-color: #fff;
    box-shadow: 10px 10px 5px #888;
}
.bg_white img {
    width: 100%;
    height: 240px;
}

.bg-image {
    margin-top: 10px;
}

.active{
    color: #000 !important;
}

.property_box{
    margin-top: 60px;
}

.property_price, .price_nomargin{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #E20231;
}



.property_detail{
    font-size: 14px;

}
.property_detail, .property_price {
    padding-left: 10px;
}

.box{
    margin-bottom: 10px;
}

.prty_box{
    min-height: 100px;
    margin: 10px 10px 10px 0px;
}


.navbar-brand{
    padding: 0;
}
.navbar-brand>img{
    padding-bottom: 10px;
    padding-top: 5px;
}
.searchbtn{
    background-color: #E20231;
    color: #fff;
    margin-top: 10px;
}

.nav>li>a:focus{
    color: #E20231;
    text-decoration: underline;
}